<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete this product?</h4>
  </div>
  <div class="modal-body">
    <p>Deleting this product will remove it from the page.</p>
  </div>
  <div class="d-flex flex-row justify-content-center gap-5 modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteProduct(productId)"
    >
      Yes
    </button>
    <button type="button" class="btn btn-secondary" (click)="close()">
      No
    </button>
  </div>
</div>
