.row .col-5 {
  background-color: rgb(253 247 247);
  border-radius: 0.5rem;
  width: 331px;
  height: 600px;
}

div label {
  width: 100px;
}

.col-5 div {
  width: 307px;
}

#modal_image {
  transform: scale(1.3);
  transition: 0.4s ease-in-out;
}

.btn-active {
  background-color: #e95420;
  color: white;
}
