<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2 class="text-center text-primary">Sign Up</h2>
      <hr />
      <form
        #registerForm="ngForm"
        class="mt-2 mt-md-0"
        (ngSubmit)="register()"
        autocomplete="off"
      >
        <div class="form-group">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mb-2 mr-sm-2"
            type="text"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mb-2 mr-sm-2"
            type="password"
            placeholder="Password"
          />
        </div>

        <div class="form-group text-center">
          <button class="btn btn-success m-r-2" type="submit">Register</button>
          <button class="btn btn-secondary" type="submit" (click)="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
