<section
  *ngFor="let category of categories"
  class="row mb-5"
  ngClass="category"
  attr.id="{{ category }}"
>
  <h1 class="mt-3 mb-4 p-0 text-primary display-3">
    {{ category | titlecase }}
  </h1>
  <ng-container *ngIf="products">
    <article
      *ngFor="let product of filterProductsByCategory(category); let i = index"
      (click)="openProductModalView(product)"
      class="col-sm-3 mb-5 me-0 mt-2 p-0"
    >
      <main style="height: 450px">
        <div
          *appHasRole="['Admin']"
          class="d-flex justify-content-end m-0 pe-3 pb-1"
        >
          <button
            class="btn btn-outline-secondary"
            (click)="openEditProductModal(product)"
            type="button"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
          <button
            class="btn btn-outline-secondary ms-1 me-4"
            (click)="openDeleteProductModal(product.id)"
            type="button"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <img
          class="rounded mx-auto d-block mt-0 mx-0"
          src="{{ view[category].photos[i] }}"
        />
        <p class="h4">{{ product.name }}</p>
        <p class="text-muted text-sm">{{ product.description }}</p>
      </main>
      <footer class="d-flex align-items-center justify-content-between mt-4">
        <p class="h3 text-black">
          From ${{ view[category].minPrices[i].toFixed(2) }} US
        </p>
        <button
          class="btn btn-primary btn-block rounded-pill mb-2 me-3 opacity-75"
          style="min-width: 100px"
        >
          Select
        </button>
      </footer>
    </article>
  </ng-container>
  <article
    *appHasRole="['Admin']"
    (click)="openAddProductModal()"
    class="col-sm-3 mb-4 me-0 mt-5 p-0"
  >
    <main style="height: 300px">
      <button
        class="btn rounded-lg shadow-sm"
        style="height: 300px; background-color: rgb(253, 244, 244); width: 100%"
      >
        <i class="fa fa-plus fa-5x text-muted"></i>
      </button>
    </main>
  </article>
</section>
